* {
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}

.content {
    min-height: 100vh;
    /* Grid */
    display: grid;
    grid-template-rows: 0.2fr 3fr 1fr;
    grid-template-areas: 
    'head'
    'contenido'
    'pie';
}



footer {
    grid-area: pie;
    background-color: salmon;
}
@keyframes carruselScroll2 {
    0%{
        transform: translate(1000px);
    }
    100%{
        transform: translate(-1000px);
    }
}


