main {
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "contenido contenido contenido contenido contenido";
}
main section {
    grid-area: contenido;
    display: grid;
    padding: 20px;
    gap: 20px;
    grid-auto-rows: max-content;
    
}
main section article {
    display: grid;
}
main section .articleLeft, .articleRight{
    grid-template-rows: repeat(2, 40vh);
    grid-template-areas: "img"
    "text";
    border-bottom: 3px solid #000;
}

main section article img {
    grid-area: img;
    width: 100%;
    height: 100%;
    transition-duration: 1s;
}

main section article .descripcion{
    grid-area: text;
    padding: 20px;
    position: relative;
}
main section article .descripcion h2{
    text-align: center;
}
main section article .descripcion p{
    margin-top: 1.5em;
    text-align: justify;
}
main section article .descripcion button{
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: none;
    padding: 5px;
    transition-duration: 1.5s;
}
main section article .descripcion button:hover{
    transform: scale(1.2);
}

@media screen and (min-width:900px){
    main {
        grid-template-areas: ". contenido contenido contenido .";
        grid-template-columns: 0.5fr repeat(3,1fr) 0.5fr;
    }
    main section {
        gap: 50px;
    }
    main section article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px;
        
    }
    main section .articleLeft{
        grid-template-areas: "img text";
        border-right: 5px solid #000;
    }
    main section .articleRight{
        grid-template-areas: "text img";
        border-left: 5px solid #000;
    }
    main section .articleLeft img:hover {
        transform: rotate(-5deg);
        z-index: 7;
    }
    main section .articleRight img:hover {
        transform: rotate(5deg);
        z-index: 7;
    }
    main section .articleLeft, .articleRight{
        grid-template-rows: 1fr;
        border-bottom: none;
    }
    main section article img{
        height: 20em;
    }
    main section article .descripcion p{
        margin-top: 5em;
        text-align: justify;
    }

}